  <!-- Footer-->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">
            Bandar Mahkota Cheras,
            <br />
            Kajang, 43200, Selangor
          </p>
        </div>
        <!-- Footer Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a
            class="btn btn-outline-light btn-social mx-1"
            href="https://github.com/hatimhas"
          >
            <i class="fab fa-fw fa-github"></i>
          </a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">My Details</h4>
          <p class="lead mb-0">hatimhasbullah@gmail.com</p>
          <p class="lead mb-0">017-354-2458</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Your Website 2023</small>
    </div>
  </div>
